* {
    margin: 0;
    padding: 0;

}



.weather-search,
.Weather-info {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

#weathersearch-container {
    border-radius: 20px;
    background-color: whitesmoke;
    max-width: 500px;
    padding: 30px;
}

#location-button {
    border-top: 1px solid rgb(184, 181, 181);
    padding: 20px;
    margin: 30px 0px 10px 35px;
}

button,
i {
    cursor: pointer;
}

#temperature {
    font-size: 60px;
    font-weight: 500;
}

.bottom{
    display: flex;
    justify-content: space-between;
}